# Analysis of Public Education in the US
***
Patricia Carcamo Acosta
February 19, 2020
***

### 1. Initiate Spark Environment
***

In [1]:
import findspark
findspark.init()

from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession

sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

import pyspark.sql.functions as F
from pyspark.sql.types import IntegerType

### 2. Data Source and DataFrame Setup
***
The main dataset that will be used for the analysis is districtDF. The secondary dataset, stateDF, will enrich our analysis with reading and math performance scores for each state. 
I generated the following additional features which are pertinent to this analysis: 
1. Federal Ratio - the percentage of federal revenue as a part of total revenue
2. FedEnrollmentAllotment - the persentage of federal revenue to the number of students enrolled
3. PerStudentExp - the percentage of total expenditure per number of students enrolled

In [2]:
stateDF = spark.read\
                    .option("inferSchema", "true") \
                    .option("header", "true") \
                    .csv("states_all_extended.csv")

disDF = spark.read\
                    .option("inferSchema", "true") \
                    .option("header", "true") \
                    .csv("finance_districts.csv")

districtDF = disDF.where("TOTALREV > 0 and TFEDREV >0 and TLOCREV > 0 and TSTREV > 0")\
                          .withColumn("FedRatio", disDF.TFEDREV/disDF.TOTALREV)\
                          .withColumn("FedEnrollmentAllotment", disDF.TFEDREV/disDF.ENROLL)\
                          .withColumn("PerStudentExp", disDF.TOTALEXP/disDF.ENROLL)\
                          .withColumn("PercInstruction", disDF.TCURINST/disDF.TOTALEXP)\
                          .withColumn("PercSpecServices", disDF.TCURSSVC/disDF.TOTALEXP)\
                          .cache()

### 3. Display DataFrame Size and Schema
***
districsDF has 361,030 distinct rows, stateDF has 1,918 distinct rows

In [3]:
from IPython.display import display, Markdown

stateDF.printSchema()
districtDF.printSchema()

distinctState = stateDF.distinct().count()
distinctDistrict = districtDF.distinct().count()

print("There are", distinctState, "distinct rows for State Data")
print("There are", distinctDistrict, "distinct rows for District Data")

root
 |-- PRIMARY_KEY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- YEAR: integer (nullable = true)
 |-- ENROLL: double (nullable = true)
 |-- TOTAL_REVENUE: double (nullable = true)
 |-- FEDERAL_REVENUE: double (nullable = true)
 |-- STATE_REVENUE: double (nullable = true)
 |-- LOCAL_REVENUE: double (nullable = true)
 |-- TOTAL_EXPENDITURE: double (nullable = true)
 |-- INSTRUCTION_EXPENDITURE: double (nullable = true)
 |-- SUPPORT_SERVICES_EXPENDITURE: double (nullable = true)
 |-- OTHER_EXPENDITURE: double (nullable = true)
 |-- CAPITAL_OUTLAY_EXPENDITURE: double (nullable = true)
 |-- A_A_A: double (nullable = true)
 |-- G01_A_A: double (nullable = true)
 |-- G02_A_A: double (nullable = true)
 |-- G03_A_A: double (nullable = true)
 |-- G04_A_A: double (nullable = true)
 |-- G05_A_A: double (nullable = true)
 |-- G06_A_A: double (nullable = true)
 |-- G07_A_A: double (nullable = true)
 |-- G08_A_A: double (nullable = true)
 |-- G09_A_A: double (nullable = true)
 |-- G10_A_A: double (nullable = true)
 |-- G11_A_A: double (nullable = true)
 |-- G12_A_A: double (nullable = true)
 |-- KG_A_A: double (nullable = true)
 |-- PK_A_A: double (nullable = true)
 |-- G01-G08_A_A: double (nullable = true)
 |-- G09-G12_A_A: double (nullable = true)
 |-- G01_AM_F: double (nullable = true)
 |-- G01_AM_M: double (nullable = true)
 |-- G01_AS_F: double (nullable = true)
 |-- G01_AS_M: double (nullable = true)
 |-- G01_BL_F: double (nullable = true)
 |-- G01_BL_M: double (nullable = true)
 |-- G01_HI_F: double (nullable = true)
 |-- G01_HI_M: double (nullable = true)
 |-- G01_HP_F: double (nullable = true)
 |-- G01_HP_M: double (nullable = true)
 |-- G01_TR_F: double (nullable = true)
 |-- G01_TR_M: double (nullable = true)
 |-- G01_WH_F: double (nullable = true)
 |-- G01_WH_M: double (nullable = true)
 |-- G02_AM_F: double (nullable = true)
 |-- G02_AM_M: double (nullable = true)
 |-- G02_AS_F: double (nullable = true)
 |-- G02_AS_M: double (nullable = true)
 |-- G02_BL_F: double (nullable = true)
 |-- G02_BL_M: double (nullable = true)
 |-- G02_HI_F: double (nullable = true)
 |-- G02_HI_M: double (nullable = true)
 |-- G02_HP_F: double (nullable = true)
 |-- G02_HP_M: double (nullable = true)
 |-- G02_TR_F: double (nullable = true)
 |-- G02_TR_M: double (nullable = true)
 |-- G02_WH_F: double (nullable = true)
 |-- G02_WH_M: double (nullable = true)
 |-- G03_AM_F: double (nullable = true)
 |-- G03_AM_M: double (nullable = true)
 |-- G03_AS_F: double (nullable = true)
 |-- G03_AS_M: double (nullable = true)
 |-- G03_BL_F: double (nullable = true)
 |-- G03_BL_M: double (nullable = true)
 |-- G03_HI_F: double (nullable = true)
 |-- G03_HI_M: double (nullable = true)
 |-- G03_HP_F: double (nullable = true)
 |-- G03_HP_M: double (nullable = true)
 |-- G03_TR_F: double (nullable = true)
 |-- G03_TR_M: double (nullable = true)
 |-- G03_WH_F: double (nullable = true)
 |-- G03_WH_M: double (nullable = true)
 |-- G04_AM_F: double (nullable = true)
 |-- G04_AM_M: double (nullable = true)
 |-- G04_AS_F: double (nullable = true)
 |-- G04_AS_M: double (nullable = true)
 |-- G04_BL_F: double (nullable = true)
 |-- G04_BL_M: double (nullable = true)
 |-- G04_HI_F: double (nullable = true)
 |-- G04_HI_M: double (nullable = true)
 |-- G04_HP_F: double (nullable = true)
 |-- G04_HP_M: double (nullable = true)
 |-- G04_TR_F: double (nullable = true)
 |-- G04_TR_M: double (nullable = true)
 |-- G04_WH_F: double (nullable = true)
 |-- G04_WH_M: double (nullable = true)
 |-- G05_AM_F: double (nullable = true)
 |-- G05_AM_M: double (nullable = true)
 |-- G05_AS_F: double (nullable = true)
 |-- G05_AS_M: double (nullable = true)
 |-- G05_BL_F: double (nullable = true)
 |-- G05_BL_M: double (nullable = true)
 |-- G05_HI_F: double (nullable = true)
 |-- G05_HI_M: double (nullable = true)
 |-- G05_HP_F: double (nullable = true)
 |-- G05_HP_M: double (nullable = true)
 |-- G05_TR_F: double (nullable = true)
 |-- G05_TR_M: double (nullable = true)
 |-- G05_WH_F: double (nullable = true)
 |-- G05_WH_M: double (nullable = true)
 |-- G06_AM_F: double (nullable = true)
 |-- G06_AM_M: double (nullable = true)
 |-- G06_AS_F: double (nullable = true)
 |-- G06_AS_M: double (nullable = true)
 |-- G06_BL_F: double (nullable = true)
 |-- G06_BL_M: double (nullable = true)
 |-- G06_HI_F: double (nullable = true)
 |-- G06_HI_M: double (nullable = true)
 |-- G06_HP_F: double (nullable = true)
 |-- G06_HP_M: double (nullable = true)
 |-- G06_TR_F: double (nullable = true)
 |-- G06_TR_M: double (nullable = true)
 |-- G06_WH_F: double (nullable = true)
 |-- G06_WH_M: double (nullable = true)
 |-- G07_AM_F: double (nullable = true)
 |-- G07_AM_M: double (nullable = true)
 |-- G07_AS_F: double (nullable = true)
 |-- G07_AS_M: double (nullable = true)
 |-- G07_BL_F: double (nullable = true)
 |-- G07_BL_M: double (nullable = true)
 |-- G07_HI_F: double (nullable = true)
 |-- G07_HI_M: double (nullable = true)
 |-- G07_HP_F: double (nullable = true)
 |-- G07_HP_M: double (nullable = true)
 |-- G07_TR_F: double (nullable = true)
 |-- G07_TR_M: double (nullable = true)
 |-- G07_WH_F: double (nullable = true)
 |-- G07_WH_M: double (nullable = true)
 |-- G08_AM_F: double (nullable = true)
 |-- G08_AM_M: double (nullable = true)
 |-- G08_AS_F: double (nullable = true)
 |-- G08_AS_M: double (nullable = true)
 |-- G08_BL_F: double (nullable = true)
 |-- G08_BL_M: double (nullable = true)
 |-- G08_HI_F: double (nullable = true)
 |-- G08_HI_M: double (nullable = true)
 |-- G08_HP_F: double (nullable = true)
 |-- G08_HP_M: double (nullable = true)
 |-- G08_TR_F: double (nullable = true)
 |-- G08_TR_M: double (nullable = true)
 |-- G08_WH_F: double (nullable = true)
 |-- G08_WH_M: double (nullable = true)
 |-- G09_AM_F: double (nullable = true)
 |-- G09_AM_M: double (nullable = true)
 |-- G09_AS_F: double (nullable = true)
 |-- G09_AS_M: double (nullable = true)
 |-- G09_BL_F: double (nullable = true)
 |-- G09_BL_M: double (nullable = true)
 |-- G09_HI_F: double (nullable = true)
 |-- G09_HI_M: double (nullable = true)
 |-- G09_HP_F: double (nullable = true)
 |-- G09_HP_M: double (nullable = true)
 |-- G09_TR_F: double (nullable = true)
 |-- G09_TR_M: double (nullable = true)
 |-- G09_WH_F: double (nullable = true)
 |-- G09_WH_M: double (nullable = true)
 |-- G10_AM_F: double (nullable = true)
 |-- G10_AM_M: double (nullable = true)
 |-- G10_AS_F: double (nullable = true)
 |-- G10_AS_M: double (nullable = true)
 |-- G10_BL_F: double (nullable = true)
 |-- G10_BL_M: double (nullable = true)
 |-- G10_HI_F: double (nullable = true)
 |-- G10_HI_M: double (nullable = true)
 |-- G10_HP_F: double (nullable = true)
 |-- G10_HP_M: double (nullable = true)
 |-- G10_TR_F: double (nullable = true)
 |-- G10_TR_M: double (nullable = true)
 |-- G10_WH_F: double (nullable = true)
 |-- G10_WH_M: double (nullable = true)
 |-- G11_AM_F: double (nullable = true)
 |-- G11_AM_M: double (nullable = true)
 |-- G11_AS_F: double (nullable = true)
 |-- G11_AS_M: double (nullable = true)
 |-- G11_BL_F: double (nullable = true)
 |-- G11_BL_M: double (nullable = true)
 |-- G11_HI_F: double (nullable = true)
 |-- G11_HI_M: double (nullable = true)
 |-- G11_HP_F: double (nullable = true)
 |-- G11_HP_M: double (nullable = true)
 |-- G11_TR_F: double (nullable = true)
 |-- G11_TR_M: double (nullable = true)
 |-- G11_WH_F: double (nullable = true)
 |-- G11_WH_M: double (nullable = true)
 |-- G12_AM_F: double (nullable = true)
 |-- G12_AM_M: double (nullable = true)
 |-- G12_AS_F: double (nullable = true)
 |-- G12_AS_M: double (nullable = true)
 |-- G12_BL_F: double (nullable = true)
 |-- G12_BL_M: double (nullable = true)
 |-- G12_HI_F: double (nullable = true)
 |-- G12_HI_M: double (nullable = true)
 |-- G12_HP_F: double (nullable = true)
 |-- G12_HP_M: double (nullable = true)
 |-- G12_TR_F: double (nullable = true)
 |-- G12_TR_M: double (nullable = true)
 |-- G12_WH_F: double (nullable = true)
 |-- G12_WH_M: double (nullable = true)
 |-- KG_AM_F: double (nullable = true)
 |-- KG_AM_M: double (nullable = true)
 |-- KG_AS_F: double (nullable = true)
 |-- KG_AS_M: double (nullable = true)
 |-- KG_BL_F: double (nullable = true)
 |-- KG_BL_M: double (nullable = true)
 |-- KG_HI_F: double (nullable = true)
 |-- KG_HI_M: double (nullable = true)
 |-- KG_HP_F: double (nullable = true)
 |-- KG_HP_M: double (nullable = true)
 |-- KG_TR_F: double (nullable = true)
 |-- KG_TR_M: double (nullable = true)
 |-- KG_WH_F: double (nullable = true)
 |-- KG_WH_M: double (nullable = true)
 |-- PK_AM_F: double (nullable = true)
 |-- PK_AM_M: double (nullable = true)
 |-- PK_AS_F: double (nullable = true)
 |-- PK_AS_M: double (nullable = true)
 |-- PK_BL_F: double (nullable = true)
 |-- PK_BL_M: double (nullable = true)
 |-- PK_HI_F: double (nullable = true)
 |-- PK_HI_M: double (nullable = true)
 |-- PK_HP_F: double (nullable = true)
 |-- PK_HP_M: double (nullable = true)
 |-- PK_TR_F: double (nullable = true)
 |-- PK_TR_M: double (nullable = true)
 |-- PK_WH_F: double (nullable = true)
 |-- PK_WH_M: double (nullable = true)
 |-- AVG_MATH_4_SCORE: double (nullable = true)
 |-- AVG_MATH_8_SCORE: double (nullable = true)
 |-- AVG_READING_4_SCORE: double (nullable = true)
 |-- AVG_READING_8_SCORE: double (nullable = true)

root
 |-- STATE: string (nullable = true)
 |-- ENROLL: integer (nullable = true)
 |-- NAME: string (nullable = true)
 |-- YRDATA: integer (nullable = true)
 |-- TOTALREV: integer (nullable = true)
 |-- TFEDREV: integer (nullable = true)
 |-- TSTREV: integer (nullable = true)
 |-- TLOCREV: integer (nullable = true)
 |-- TOTALEXP: integer (nullable = true)
 |-- TCURINST: integer (nullable = true)
 |-- TCURSSVC: integer (nullable = true)
 |-- TCURONON: integer (nullable = true)
 |-- TCAPOUT: integer (nullable = true)
 |-- FedRatio: double (nullable = true)
 |-- FedEnrollmentAllotment: double (nullable = true)
 |-- PerStudentExp: double (nullable = true)
 |-- PercInstruction: double (nullable = true)
 |-- PercSpecServices: double (nullable = true)

There are 1918 distinct rows for State Data
There are 361030 distinct rows for District Data

### 4. Cache DataFrames
***

In [4]:
stateDF.cache()
districtDF.cache()

DataFrame[STATE: string, ENROLL: int, NAME: string, YRDATA: int, TOTALREV: int, TFEDREV: int, TSTREV: int, TLOCREV: int, TOTALEXP: int, TCURINST: int, TCURSSVC: int, TCURONON: int, TCAPOUT: int, FedRatio: double, FedEnrollmentAllotment: double, PerStudentExp: double, PercInstruction: double, PercSpecServices: double]

### 5. Feature Analysis
***

#### State Income
Half of the values in the table stateDF are null. I will extract state income from the districtsDF data instead.

In [5]:
from IPython.display import display, Markdown
from pyspark.sql.functions import when, count, col, countDistinct, desc, first, lit

print("Summary of Revenue and Expenditure Columns: ") 
stateDF.select("TOTAL_REVENUE", "FEDERAL_REVENUE", "STATE_REVENUE", "LOCAL_REVENUE").summary().show()

print("Checking for Nulls in Revenue and Expenditure Columns:")
stateDF.select([count(when(col(c).isNull(), c)).alias(c) for c in ["TOTAL_REVENUE", "FEDERAL_REVENUE", "STATE_REVENUE", "LOCAL_REVENUE"]]).show()

print("Checking Distinct Values in Revenue and Expenditure Columns:")
stateDF.select([countDistinct(c).alias(c) for c in ["TOTAL_REVENUE", "FEDERAL_REVENUE", "STATE_REVENUE", "LOCAL_REVENUE"]]).show()

Summary of Revenue and Expenditure Columns:
+-------+--------------------+------------------+-----------------+------------------+
|summary|       TOTAL_REVENUE|   FEDERAL_REVENUE|    STATE_REVENUE|     LOCAL_REVENUE|
+-------+--------------------+------------------+-----------------+------------------+
|  count|                1275|              1275|             1275|              1275|
|   mean|   9102044.929411765| 767779.8643137255|4223742.902745098|4110522.1560784313|
| stddev|1.1759620227524102E7|1146991.5073249412|5549734.818393522| 5489561.973466697|
|    min|            465650.0|           31020.0|              0.0|           22093.0|
|    25%|           2188587.0|          189689.0|        1165178.0|          714562.0|
|    50%|           5085826.0|          403548.0|        2537754.0|         2058996.0|
|    75%|          1.084872E7|          828432.0|        5066552.0|         4768381.0|
|    max|         8.9217262E7|         9990221.0|      5.0904567E7|       3.6105265E7|
+-------+--------------------+------------------+-----------------+------------------+

Checking for Nulls in Revenue and Expenditure Columns:
+-------------+---------------+-------------+-------------+
|TOTAL_REVENUE|FEDERAL_REVENUE|STATE_REVENUE|LOCAL_REVENUE|
+-------------+---------------+-------------+-------------+
|          643|            643|          643|          643|
+-------------+---------------+-------------+-------------+

Checking Distinct Values in Revenue and Expenditure Columns:
+-------------+---------------+-------------+-------------+
|TOTAL_REVENUE|FEDERAL_REVENUE|STATE_REVENUE|LOCAL_REVENUE|
+-------------+---------------+-------------+-------------+
|         1274|           1275|         1251|         1275|
+-------------+---------------+-------------+-------------+

#### State Expenses
Again, half of the values in the table stateDF are null. I will extract state expenses from the districtsDF data instead.

In [6]:
print("Summary of Revenue and Expenditure Columns: ") 
stateDF.select("TOTAL_EXPENDITURE", "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE").summary().show()

print("Checking for Nulls in Revenue and Expenditure Columns:")
stateDF.select([count(when(col(c).isNull(), c)).alias(c) for c in ["TOTAL_EXPENDITURE", "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE"]]).show()

print("Checking Distinct Values in Revenue and Expenditure Columns:")
stateDF.select([countDistinct(c).alias(c) for c in ["TOTAL_EXPENDITURE", "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE"]]).show()

Summary of Revenue and Expenditure Columns:
+-------+--------------------+-----------------------+----------------------------+--------------------------+
|summary|   TOTAL_EXPENDITURE|INSTRUCTION_EXPENDITURE|SUPPORT_SERVICES_EXPENDITURE|CAPITAL_OUTLAY_EXPENDITURE|
+-------+--------------------+-----------------------+----------------------------+--------------------------+
|  count|                1275|                   1275|                        1275|                      1275|
|   mean|   9206242.121568628|      4768010.484705882|          2682586.5192156862|         903467.4549019608|
| stddev|1.1992791012445949E7|      6300569.339670264|          3357214.4993502507|        1329473.4683338907|
|    min|            481665.0|               265549.0|                    139963.0|                   12708.0|
|    25%|           2169432.0|              1171313.0|                    637240.0|                  181392.0|
|    50%|           5242672.0|              2658253.0|                   1525471.0|                  510428.0|
|    75%|         1.0744695E7|              5562212.0|                   3228234.0|                  966827.0|
|    max|         8.5320133E7|             4.396452E7|                 2.6058021E7|               1.0223657E7|
+-------+--------------------+-----------------------+----------------------------+--------------------------+

Checking for Nulls in Revenue and Expenditure Columns:
+-----------------+-----------------------+----------------------------+--------------------------+
|TOTAL_EXPENDITURE|INSTRUCTION_EXPENDITURE|SUPPORT_SERVICES_EXPENDITURE|CAPITAL_OUTLAY_EXPENDITURE|
+-----------------+-----------------------+----------------------------+--------------------------+
|              643|                    643|                         643|                       643|
+-----------------+-----------------------+----------------------------+--------------------------+

Checking Distinct Values in Revenue and Expenditure Columns:
+-----------------+-----------------------+----------------------------+--------------------------+
|TOTAL_EXPENDITURE|INSTRUCTION_EXPENDITURE|SUPPORT_SERVICES_EXPENDITURE|CAPITAL_OUTLAY_EXPENDITURE|
+-----------------+-----------------------+----------------------------+--------------------------+
|             1275|                   1275|                        1275|                      1275|
+-----------------+-----------------------+----------------------------+--------------------------+

#### Math and Reading Scores Grades 4 and 8
Reading and math scores are only available in stateDF. I will clean out null values and use this information to enrich the analysis.

In [7]:
from IPython.display import display, Markdown
from pyspark.sql.functions import when, count, col, countDistinct, desc, first, lit

print("Summary of Math and Reading Scores for Grades 4 and 8:")
stateDF.select("AVG_MATH_4_SCORE", "AVG_MATH_8_SCORE", "AVG_READING_4_SCORE", "AVG_READING_8_SCORE").summary().show()

print("Checking for Nulls in Math and Reading Scores for Grades 4 and 8")
stateDF.select([count(when(col(c).isNull(), c)).alias(c) for c in ["AVG_MATH_4_SCORE", "AVG_MATH_8_SCORE", "AVG_READING_4_SCORE", "AVG_READING_8_SCORE"]]).show()
print("Cleaning out Null Values")
stateDF = stateDF.filter(stateDF.AVG_MATH_4_SCORE.isNotNull())
stateDF = stateDF.filter(stateDF.AVG_MATH_8_SCORE.isNotNull())
stateDF = stateDF.filter(stateDF.AVG_READING_4_SCORE.isNotNull())
stateDF = stateDF.filter(stateDF.AVG_READING_8_SCORE.isNotNull())
stateDF.select([count(when(col(c).isNull(), c)).alias(c) for c in ["AVG_MATH_4_SCORE", "AVG_MATH_8_SCORE", "AVG_READING_4_SCORE", "AVG_READING_8_SCORE"]]).show()


print("Checking for Distinct Values in Math and Reading Scores for Grades 4 and 8")
stateDF.select([countDistinct(c).alias(c) for c in ["AVG_MATH_4_SCORE", "AVG_MATH_8_SCORE", "AVG_READING_4_SCORE", "AVG_READING_8_SCORE"]]).show()

Summary of Math and Reading Scores for Grades 4 and 8:
+-------+------------------+------------------+-------------------+-------------------+
|summary|  AVG_MATH_4_SCORE|  AVG_MATH_8_SCORE|AVG_READING_4_SCORE|AVG_READING_8_SCORE|
+-------+------------------+------------------+-------------------+-------------------+
|  count|               535|               531|                532|                497|
|   mean|234.79728009682898|  278.461452552044| 218.89788614753934|  263.6833246527511|
| stddev|10.209001517937478| 10.11188590279621|  7.742281313769915|  6.792513207431028|
|    min|  187.134669958413|  232.831509532896|   178.557611651728| 236.37910176331403|
|    25%|  229.704281935704|272.76180889422903|   214.663401291545|   259.547225161046|
|    50%|237.26482055278802|  280.619538285703| 220.41603448313703|   265.022858505901|
|    75%|  242.009195680162|  285.539188724412|   223.999336825378|   268.197442761373|
|    max|  253.420961133202|  300.568235011147|   236.773866580369|   280.499129965249|
+-------+------------------+------------------+-------------------+-------------------+

Checking for Nulls in Math and Reading Scores for Grades 4 and 8
+----------------+----------------+-------------------+-------------------+
|AVG_MATH_4_SCORE|AVG_MATH_8_SCORE|AVG_READING_4_SCORE|AVG_READING_8_SCORE|
+----------------+----------------+-------------------+-------------------+
|            1383|            1387|               1386|               1421|
+----------------+----------------+-------------------+-------------------+

Cleaning out Null Values
+----------------+----------------+-------------------+-------------------+
|AVG_MATH_4_SCORE|AVG_MATH_8_SCORE|AVG_READING_4_SCORE|AVG_READING_8_SCORE|
+----------------+----------------+-------------------+-------------------+
|               0|               0|                  0|                  0|
+----------------+----------------+-------------------+-------------------+

Checking for Distinct Values in Math and Reading Scores for Grades 4 and 8
+----------------+----------------+-------------------+-------------------+
|AVG_MATH_4_SCORE|AVG_MATH_8_SCORE|AVG_READING_4_SCORE|AVG_READING_8_SCORE|
+----------------+----------------+-------------------+-------------------+
|             473|             473|                473|                473|
+----------------+----------------+-------------------+-------------------+

#### State Student Enrollment
There are some missing values in Enrollments in districtsDF, these will be cleaned further down.

In [8]:
from IPython.display import display, Markdown
from pyspark.sql.functions import when, count, col, countDistinct, desc, first, lit

print("Summary of State Enrollment:")
districtDF.select("STATE", "YRDATA", "ENROLL").summary().show()

print("Checking for Nulls in State Enrollment")
districtDF.select([count(when(col(c).isNull(), c)).alias(c) for c in ["STATE", "YRDATA", "ENROLL"]]).show()

print("Checking for Distinct Values in State Enrollment")
districtDF.select([countDistinct(c).alias(c) for c in ["STATE", "YRDATA", "ENROLL"]]).show()

Summary of State Enrollment:
+-------+-------+------------------+------------------+
|summary|  STATE|            YRDATA|            ENROLL|
+-------+-------+------------------+------------------+
|  count| 361030|            361030|            346035|
|   mean|   null|2003.9746530759217|3239.6257632898405|
| stddev|   null| 7.142621002252625|14249.101260926955|
|    min|ALABAMA|              1992|                 0|
|    25%|   null|              1998|               323|
|    50%|   null|              2004|              1015|
|    75%|   null|              2010|              2708|
|    max|WYOMING|              2016|           1077381|
+-------+-------+------------------+------------------+

Checking for Nulls in State Enrollment
+-----+------+------+
|STATE|YRDATA|ENROLL|
+-----+------+------+
|    0|     0| 14995|
+-----+------+------+

Checking for Distinct Values in State Enrollment
+-----+------+------+
|STATE|YRDATA|ENROLL|
+-----+------+------+
|   50|    25| 23845|
+-----+------+------+

#### District Revenue Expense and Enrollment

In [9]:
from IPython.display import display, Markdown
from pyspark.sql.functions import when, count, col, countDistinct, desc, first, lit

print("Summary of District Data:")
districtDF.select("ENROLL", "YRDATA", "TOTALREV", "TOTALEXP", "TCURINST", "TCURSSVC").summary().show()

print("Checking for Nulls in District Data:")
districtDF.select([count(when(col(c).isNull(), c)).alias(c) for c in ["ENROLL", "YRDATA", "TOTALREV", "TOTALEXP", "TCURINST", "TCURSSVC"]]).show()

print("Cleaning out Null Values")
districtDF = districtDF.filter(districtDF.ENROLL.isNotNull())
districtDF.select([count(when(col(c).isNull(), c)).alias(c) for c in ["ENROLL", "YRDATA", "TOTALREV", "TOTALEXP", "TCURINST", "TCURSSVC"]]).show()

print("Checking for Distinct Values in District Data:")
districtDF.select([countDistinct(c).alias(c) for c in ["ENROLL", "YRDATA", "TOTALREV", "TOTALEXP", "TCURINST", "TCURSSVC"]]).show()

Summary of District Data:
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+
|summary|            ENROLL|            YRDATA|         TOTALREV|          TOTALEXP|          TCURINST|          TCURSSVC|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+
|  count|            346035|            361030|           361030|            361030|            361030|            361030|
|   mean|3239.6257632898405|2003.9746530759217|32019.87706007811| 32386.08861867435|16788.271705952415| 9431.767285267153|
| stddev|14249.101260926955| 7.142621002252625|181476.4188982236|193529.79490904833| 118505.9501969893|43791.991645684706|
|    min|                 0|              1992|                6|                 0|                 0|                 0|
|    25%|               323|              1998|             3562|              3492|              1751|              1037|
|    50%|              1015|              2004|             9807|              9745|              4968|              2878|
|    75%|              2708|              2010|            26076|             26199|             13436|              7761|
|    max|           1077381|              2016|         27448356|          29620098|          20766449|           4786795|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+

Checking for Nulls in District Data:
+------+------+--------+--------+--------+--------+
|ENROLL|YRDATA|TOTALREV|TOTALEXP|TCURINST|TCURSSVC|
+------+------+--------+--------+--------+--------+
| 14995|     0|       0|       0|       0|       0|
+------+------+--------+--------+--------+--------+

Cleaning out Null Values
+------+------+--------+--------+--------+--------+
|ENROLL|YRDATA|TOTALREV|TOTALEXP|TCURINST|TCURSSVC|
+------+------+--------+--------+--------+--------+
|     0|     0|       0|       0|       0|       0|
+------+------+--------+--------+--------+--------+

Checking for Distinct Values in District Data:
+------+------+--------+--------+--------+--------+
|ENROLL|YRDATA|TOTALREV|TOTALEXP|TCURINST|TCURSSVC|
+------+------+--------+--------+--------+--------+
| 23845|    24|   84278|   84462|   59846|   44093|
+------+------+--------+--------+--------+--------+

### Business Analysis

#### What states have the highest and lowest overall revenue, and highest state/local revenue compared to federal. What schools have a high percentage of federal revenue to total revenue?

In [10]:
stateRevDF = districtDF.select("STATE","TOTALREV", "TFEDREV", "TSTREV", "TLOCREV").groupBy("STATE")\
                            .agg(
                            F.sum("TOTALREV").alias("TotalRevenue"),
                            F.sum("TFEDREV").alias("FederalRevenue"),
                            F.sum("TSTREV").alias("StateRevenue"),
                            F.sum("TLOCREV").alias("LocalRevenue"),
                            F.mean("TOTALREV").alias("AverageTotalRevenue")
                                ).orderBy("TotalRevenue", ascending=False)

stateRevDF.show()

stateRev2016DF = districtDF.filter(districtDF.YRDATA == 2016)\
                        .select("STATE","TOTALREV", "TFEDREV", "TSTREV", "TLOCREV").groupBy("STATE")\
                            .agg(
                            F.sum("TOTALREV").alias("TotalRevenue"),
                            F.sum("TFEDREV").alias("FederalRevenue"),
                            F.sum("TSTREV").alias("StateRevenue"),
                            F.sum("TLOCREV").alias("LocalRevenue"),
                            F.mean("TOTALREV").alias("AverageTotalRevenue")
                                ).orderBy("TotalRevenue", ascending=False)

stateRev2016DF.show()

FedRatio2016 = districtDF.filter(districtDF.YRDATA == 2016).select("STATE", "NAME", "FedRatio").sort(desc("FedRatio")).show(10, False)
FedRatio2016 = districtDF.filter(districtDF.YRDATA == 2016).select("STATE", "NAME", "FedRatio").sort("FedRatio").show(10, False)

+--------------+------------+--------------+------------+------------+-------------------+
|         STATE|TotalRevenue|FederalRevenue|StateRevenue|LocalRevenue|AverageTotalRevenue|
+--------------+------------+--------------+------------+------------+-------------------+
|    CALIFORNIA|  1366095668|     142238910|   757294332|   466562426| 56176.316637881406|
|      NEW_YORK|  1037863682|      63666794|   438065910|   536130978| 63069.013247447736|
|         TEXAS|   904045938|      94330559|   355985292|   453730087|  35959.02859870331|
|  PENNSYLVANIA|   522078436|      37005885|   184440431|   300632120|  36652.51586632968|
|      ILLINOIS|   521524895|      42297401|   176629129|   302598365|  22155.77955733039|
|       FLORIDA|   510121985|      52786336|   213249125|   244086524| 317240.04042288556|
|    NEW_JERSEY|   491576313|      21055855|   191575298|   278945160|  36819.43772002097|
|          OHIO|   443185813|      30885616|   184689998|   227610199| 25871.909690601286|
|      MICHIGAN|   411549455|      32703070|   230079753|   148766632|  25538.28451753025|
|       GEORGIA|   330331022|      29527774|   150242171|   150561077|  72250.87970253719|
| MASSACHUSETTS|   289525133|      15969627|   116100779|   157454727|  36886.88151356861|
|      VIRGINIA|   274075245|      18665928|   108118131|   147291186|  85728.88489208632|
|NORTH_CAROLINA|   256999679|      25461431|   151144592|    80393656|  91687.36318230467|
|       INDIANA|   240374656|      16627187|   126685781|    97061680| 32097.029777006275|
|      MARYLAND|   238026714|      14398180|    97047602|   126580932|  413240.8229166667|
|    WASHINGTON|   227513143|      18548673|   140638478|    68325992|  31634.19674638487|
|     WISCONSIN|   218592342|      14087438|   107900612|    96604292|  21278.33563710698|
|     MINNESOTA|   207379716|      11790483|   128182020|    67407213|  22315.69095017755|
|      MISSOURI|   189603943|      16037578|    81758804|    91807561| 15065.867540723082|
|   CONNECTICUT|   183208938|       8497370|    67488741|   107222827|  44576.38394160584|
+--------------+------------+--------------+------------+------------+-------------------+
only showing top 20 rows

+--------------+------------+--------------+------------+------------+-------------------+
|         STATE|TotalRevenue|FederalRevenue|StateRevenue|LocalRevenue|AverageTotalRevenue|
+--------------+------------+--------------+------------+------------+-------------------+
|    CALIFORNIA|    89084653|       7707217|    50896309|    30481127|  87768.13103448277|
|      NEW_YORK|    66908409|       3369803|    27437499|    36101107|  98830.73707533235|
|         TEXAS|    58282924|       5953348|    22004030|    30325546| 55826.555555555555|
|      ILLINOIS|    32867497|       2327780|    12043615|    18496102|  34236.97604166667|
|  PENNSYLVANIA|    31074463|       1904293|    11180462|    17989708|  52490.64695945946|
|    NEW_JERSEY|    29983796|       1187430|    11680012|    17116354|            51696.2|
|       FLORIDA|    28125598|       3147329|    10963807|    14014462|  419785.0447761194|
|          OHIO|    23719639|       1680983|     9271604|    12767052|  33788.65954415954|
|      MICHIGAN|    19413301|       1552824|    10727545|     7132932| 32627.396638655464|
|       GEORGIA|    19403453|       1807371|     8771192|     8824890|  98997.20918367348|
| MASSACHUSETTS|    17484704|        765043|     6770086|     9949575|            54639.7|
|      VIRGINIA|    16208682|       1058146|     6289841|     8860695| 122793.04545454546|
|    WASHINGTON|    14964297|       1097684|     9211136|     4655477|  49387.11881188119|
|      MARYLAND|    14409321|        823599|     6334951|     7250771|         600388.375|
|NORTH_CAROLINA|    13448045|       1557900|     8287126|     3603019| 116939.52173913043|
|       INDIANA|    12729155|        954837|     7780610|     3993708|  41194.67637540453|
|     MINNESOTA|    12156807|        629239|     7883276|     3644292| 33034.801630434784|
|     WISCONSIN|    11695829|        782610|     5986128|     4927091| 27519.597647058825|
|   CONNECTICUT|    11418771|        468156|     4410741|     6539874|  66388.20348837209|
|      MISSOURI|    10893231|        924655|     4568867|     5399709| 21029.403474903476|
+--------------+------------+--------------+------------+------------+-------------------+
only showing top 20 rows

+----------+------------------------------------------+------------------+
|STATE     |NAME                                      |FedRatio          |
+----------+------------------------------------------+------------------+
|CALIFORNIA|CENTRAL CALIFORNIA MIGRANT HEAD START JPA |0.9980877347305618|
|ILLINOIS  |ADAMS COUNTY SPECIAL EDUCATION ASSOCIATION|0.926829268292683 |
|TEXAS     |REGION XIX EDUCATION SERVICE CTR          |0.8273725109276348|
|IOWA      |AREA EDUCATION AGENCY 10 GRANT WOOD       |0.7922916044218703|
|IOWA      |AREA EDUCATION AGENCY 1 KEYSTONE AEA      |0.7803201082055906|
|IOWA      |AREA EDUCATION AGENCY 15 GREAT PRAIRIE    |0.7753369415260533|
|TEXAS     |REGION XVIII EDUCATION SERVC CTR          |0.7518778604618663|
|IOWA      |NORTHWEST AREA EDUCATION AGENCY           |0.7333843928176326|
|IOWA      |AREA EDUCATION AGENCY 11 HEARTLAND AEA    |0.7138123307312411|
|MAINE     |INDIAN ISLAND INDIAN SCHOOLS              |0.705122591943958 |
+----------+------------------------------------------+------------------+
only showing top 10 rows

+----------+-------------------------------------+---------------------+
|STATE     |NAME                                 |FedRatio             |
+----------+-------------------------------------+---------------------+
|COLORADO  |COLORADO DIGITAL BOCES               |6.0871682493304114E-5|
|VERMONT   |WEST RUTLAND TOWN SCHOOL DIST        |1.7041581458759374E-4|
|VERMONT   |WILMINGTON TOWN SCH DIST             |1.9256691700365877E-4|
|VERMONT   |SHARON TOWN SCH DIST                 |2.3342670401493932E-4|
|VERMONT   |SHAFTSBURY TOWN SCH DIST             |2.757859900717044E-4 |
|VERMONT   |ARLINGTON TOWN SCH DIST              |3.940110323089047E-4 |
|NEW_JERSEY|MONMOUTH-OCEAN EDUC SERV COMM        |4.179903026249791E-4 |
|NEW_YORK  |FISHERS ISLAND UNION FREE SCHOOL DIST|5.676979846721544E-4 |
|VERMONT   |PEACHAM TOWN SCH DIST                |5.757052389176742E-4 |
|VERMONT   |WOLCOTT TOWN SCH DIST                |6.08149199270221E-4  |
+----------+-------------------------------------+---------------------+
only showing top 10 rows

In [11]:
stateRevDF = districtDF.select("STATE","TOTALREV", "TFEDREV", "TSTREV", "TLOCREV").groupBy("STATE")\
                            .agg(
                            F.sum("TOTALREV").alias("TotalRevenue"),
                            F.sum("TFEDREV").alias("FederalRevenue"),
                            F.sum("TSTREV").alias("StateRevenue"),
                            F.sum("TLOCREV").alias("LocalRevenue"),
                            F.mean("TOTALREV").alias("AverageTotalRevenue")
                                ).orderBy("TotalRevenue", ascending=True)
stateRevDF.show()

stateRev2016DF = districtDF.filter(districtDF.YRDATA == 2016).select("STATE","TOTALREV", "TFEDREV", "TSTREV", "TLOCREV").groupBy("STATE")\
                            .agg(
                            F.sum("TOTALREV").alias("TotalRevenue"),
                            F.sum("TFEDREV").alias("FederalRevenue"),
                            F.sum("TSTREV").alias("StateRevenue"),
                            F.sum("TLOCREV").alias("LocalRevenue"),
                            F.mean("TOTALREV").alias("AverageTotalRevenue")
                                ).orderBy("TotalRevenue", ascending=True).show(10)

FedRatio2016 = districtDF.filter(districtDF.YRDATA == 2016).select("STATE", "NAME", "FedRatio").groupBy("STATE").agg(F.mean("FedRatio").alias("FedRatio")).sort(desc("FedRatio")).show(10, False)
FedRatio2016 = districtDF.filter(districtDF.YRDATA == 2016).select("STATE", "NAME", "FedRatio").groupBy("STATE").agg(F.mean("FedRatio").alias("FedRatio")).sort("FedRatio").show(10, False)

+-------------+------------+--------------+------------+------------+-------------------+
|        STATE|TotalRevenue|FederalRevenue|StateRevenue|LocalRevenue|AverageTotalRevenue|
+-------------+------------+--------------+------------+------------+-------------------+
| NORTH_DAKOTA|    24334208|       2890473|    10587395|    10856340| 4483.9152386217065|
| SOUTH_DAKOTA|    24502988|       3504065|     7852643|    13146280| 6490.8577483443705|
|      WYOMING|    28719069|       2132311|    14972263|    11614495| 24822.012964563528|
|      VERMONT|    31514799|       1973220|    18954348|    10587231|  5029.492339610597|
|      MONTANA|    31571370|       3956335|    14786574|    12828461| 3027.8478948882707|
|     DELAWARE|    33278940|       2448065|    20332815|    10498060|  73140.52747252748|
|        IDAHO|    40838263|       4257546|    25284343|    11296374| 15181.510408921933|
|       ALASKA|    41948649|       6180482|    26022251|     9745916|  32900.90117647059|
| RHODE_ISLAND|    42567467|       3181819|    16385167|    23000481| 48482.308656036446|
|       HAWAII|    49143249|       5096008|    42904387|     1142854|        2047635.375|
|        MAINE|    51728811|       3903652|    21268197|    26556962|  9060.923279033106|
|NEW_HAMPSHIRE|    52118851|       2632830|    17194792|    32291229| 13121.563695871098|
|WEST_VIRGINIA|    65025376|       7053153|    38078540|    19893683|  47533.16959064327|
|   NEW_MEXICO|    66297509|       9588139|    46504190|    10205180| 32498.778921568628|
|     NEBRASKA|    69556902|       6074501|    22327725|    41154676|  7781.284483723011|
|       NEVADA|    73591776|       5554781|    43989282|    24047713|           180372.0|
|         UTAH|    77983977|       7227793|    42576171|    28180013|  80645.27094105481|
|  MISSISSIPPI|    82701679|      13225399|    42979363|    26496917| 23256.940101237346|
|     ARKANSAS|    88572738|      10006322|    64131910|    14434506| 13401.836586472991|
|       KANSAS|   104979781|       7704507|    60682475|    36592799| 14729.869650624387|
+-------------+------------+--------------+------------+------------+-------------------+
only showing top 20 rows

+------------+------------+--------------+------------+------------+-------------------+
|       STATE|TotalRevenue|FederalRevenue|StateRevenue|LocalRevenue|AverageTotalRevenue|
+------------+------------+--------------+------------+------------+-------------------+
|SOUTH_DAKOTA|     1455737|        196644|      438629|      820464|  9704.913333333334|
|     VERMONT|     1627337|        111885|     1164151|      351301|  8520.089005235603|
|NORTH_DAKOTA|     1774856|        144156|      984666|      646034|  9055.387755102041|
|     MONTANA|     1797849|        220340|      838914|      738595|  4260.305687203791|
|    DELAWARE|     2043577|        134412|     1172219|      736946| 107556.68421052632|
|     WYOMING|     2044669|        123012|     1175899|      745758| 42597.270833333336|
|       IDAHO|     2266339|        240302|     1454699|      571338| 19707.295652173914|
|RHODE_ISLAND|     2401541|        175379|      940989|     1285173|          60038.525|
|      ALASKA|     2494691|        307320|     1613675|      573696|  46197.98148148148|
|       MAINE|     2833025|        185802|     1073913|     1573310|            12317.5|
+------------+------------+--------------+------------+------------+-------------------+
only showing top 10 rows

+--------------+-------------------+
|STATE         |FedRatio           |
+--------------+-------------------+
|ALASKA        |0.16993059769690858|
|MISSISSIPPI   |0.16488466739963378|
|ARIZONA       |0.16360542462691513|
|MONTANA       |0.13640352713689666|
|LOUISIANA     |0.13466516787962854|
|WEST_VIRGINIA |0.13352792332525373|
|OKLAHOMA      |0.13288976657544516|
|SOUTH_DAKOTA  |0.1277581336203408 |
|NEW_MEXICO    |0.12737317038463639|
|NORTH_CAROLINA|0.1267638614656164 |
+--------------+-------------------+
only showing top 10 rows

+-------------+--------------------+
|STATE        |FedRatio            |
+-------------+--------------------+
|CONNECTICUT  |0.030024509853121686|
|NEW_JERSEY   |0.03443001606309954 |
|MASSACHUSETTS|0.035423130464999064|
|NEW_YORK     |0.03850902849270874 |
|NEW_HAMPSHIRE|0.04400767571303165 |
|KANSAS       |0.05314243544959304 |
|WISCONSIN    |0.057755546746030145|
|PENNSYLVANIA |0.05780563845448129 |
|NEBRASKA     |0.05911802012857083 |
|IOWA         |0.06412698253603887 |
+-------------+--------------------+
only showing top 10 rows

#### What was the revenue distribution for the school districts? Who has the highest revenue overall, and in 2016?

In [12]:
districtRevDF = districtDF.select("STATE","YRDATA","NAME","TOTALREV", "TFEDREV", "TSTREV", "TLOCREV")\
                            .orderBy("TOTALREV", ascending=False)
districtRevDF.show(10, False)

districtRevDF = districtDF.select("NAME", "TOTALREV").groupBy("NAME").agg(F.sum("TOTALREV").alias("OverallRevenue")).sort(desc("OverallRevenue")).show(10, False)

districtRevDF = districtDF.filter(districtDF.YRDATA == 2016).select("NAME", "TOTALREV").groupBy("NAME").agg(F.sum("TOTALREV").alias("Revenue2016")).sort(desc("Revenue2016")).show(10, False)

+--------+------+-----------------------------+--------+-------+--------+--------+
|STATE   |YRDATA|NAME                         |TOTALREV|TFEDREV|TSTREV  |TLOCREV |
+--------+------+-----------------------------+--------+-------+--------+--------+
|NEW_YORK|2016  |NEW YORK CITY SCHOOL DISTRICT|27448356|1739101|10568010|15141245|
|NEW_YORK|2015  |NEW YORK CITY SCHOOL DISTRICT|25437384|1307783|9837509 |14292092|
|NEW_YORK|2014  |NEW YORK CITY SCHOOL DISTRICT|24215438|1814405|9352527 |13048506|
|NEW_YORK|2012  |NEW YORK CITY SCHOOL DISTRICT|23517452|2237047|8648188 |12632217|
|NEW_YORK|2013  |NEW YORK CITY SCHOOL DISTRICT|23438719|1780098|8635858 |13022763|
|NEW_YORK|2011  |NEW YORK CITY SCHOOL DISTRICT|22651559|3120314|8594973 |10936272|
|NEW_YORK|2009  |NEW YORK CITY SCHOOL DISTRICT|21165693|1817770|10040718|9307205 |
|NEW_YORK|2010  |NEW YORK CITY SCHOOL DISTRICT|21023695|2047926|8375172 |10600597|
|NEW_YORK|2008  |NEW YORK CITY SCHOOL DISTRICT|19885693|1785145|9335189 |8765359 |
|NEW_YORK|2007  |NEW YORK CITY SCHOOL DISTRICT|19368571|1899716|9237947 |8230908 |
+--------+------+-----------------------------+--------+-------+--------+--------+
only showing top 10 rows

+----------------------------------------+--------------+
|NAME                                    |OverallRevenue|
+----------------------------------------+--------------+
|NEW YORK CITY SCHOOL DISTRICT           |301635826     |
|LOS ANGELES UNIF SCH DIST               |169416094     |
|CITY OF CHICAGO SCHOOL DISTRICT 299     |83708178      |
|NEW YORK CITY SCH DIST                  |82964922      |
|PHILADELPHIA SCHOOL DISTRICT            |52118399      |
|HAWAII PUBLIC SCHOOLS                   |49143249      |
|FAIRFAX CO SCHS                         |44580571      |
|HOUSTON IND SCH DIST 912                |41370570      |
|MIAMI-DADE COUNTY PUBLIC SCHOOL DISTRICT|35283714      |
|PRINCE GEORGES CO SCHS                  |35210685      |
+----------------------------------------+--------------+
only showing top 10 rows

+----------------------------------------+-----------+
|NAME                                    |Revenue2016|
+----------------------------------------+-----------+
|NEW YORK CITY SCHOOL DISTRICT           |27448356   |
|LOS ANGELES UNIF SCH DIST               |10329380   |
|CITY OF CHICAGO SCHOOL DISTRICT 299     |5272668    |
|MIAMI-DADE COUNTY PUBLIC SCHOOL DISTRICT|3590773    |
|CLARK COUNTY SCHOOL DISTRICT            |3220684    |
|PHILADELPHIA SCHOOL DISTRICT            |3030964    |
|HAWAII PUBLIC SCHOOLS                   |3030519    |
|MONTGOMERY COUNTY SCHOOLS               |2898647    |
|FAIRFAX CO SCHS                         |2733933    |
|BROWARD COUNTY SCHOOL DISTRICT          |2607068    |
+----------------------------------------+-----------+
only showing top 10 rows

In [13]:
districtRevDF = districtDF.select("STATE","NAME","TOTALREV", "TFEDREV", "TSTREV", "TLOCREV") \
                    .filter(districtDF.TOTALREV > 10000) \
                    .orderBy("TOTALREV", ascending=True).show(20, False)

+-------------+-----------------------------------+--------+-------+------+-------+
|STATE        |NAME                               |TOTALREV|TFEDREV|TSTREV|TLOCREV|
+-------------+-----------------------------------+--------+-------+------+-------+
|MINNESOTA    |BRAHAM SCH DIST 314                |10001   |511    |7107  |2383   |
|NEW_JERSEY   |HENRY HUDSON REGIONAL SCH DIST     |10001   |312    |1468  |8221   |
|OHIO         |ST HENRY LOCAL SCH DIST            |10001   |381    |6055  |3565   |
|KENTUCKY     |TODD CO SCH DIST                   |10001   |1039   |7520  |1442   |
|NEW_HAMPSHIRE|HOPKINTON SCH DIST                 |10001   |426    |4058  |5517   |
|MASSACHUSETTS|STURBRIDGE TOWN SCHS               |10001   |548    |2227  |7226   |
|ARKANSAS     |SOUTHEAST ARKANSAS EDUC SERV COOP  |10001   |3223   |3691  |3087   |
|CALIFORNIA   |PINER OLIVET UNION ELEM SCHOOL DIST|10001   |266    |5809  |3926   |
|IDAHO        |PRESTON JT SCH DIST 201            |10001   |552    |7960  |1489   |
|NEW_JERSEY   |NEPTUNE CITY BORO SCHOOL DIST      |10001   |408    |2910  |6683   |
|ARIZONA      |TOMBSTONE SCHOOL DISTRICT 1        |10002   |1052   |4542  |4408   |
|IOWA         |ALBIA COMM SCH DIST                |10002   |616    |5559  |3827   |
|MISSOURI     |CARROLLTON SCH DIST R 7            |10002   |1724   |3543  |4735   |
|NEBRASKA     |ASHLAND-GREENWOOD SCH DIST 1       |10002   |478    |2892  |6632   |
|OKLAHOMA     |HILLDALE SCH DIST 29               |10002   |946    |6708  |2348   |
|CALIFORNIA   |MCKINLEYVILLE UNION ELEM SCH DIST  |10002   |948    |5005  |4049   |
|ARKANSAS     |HARMONY GROVE SCH DIST 1           |10002   |1108   |7806  |1088   |
|NEW_MEXICO   |TRUTH OR CONSEQUENCES              |10002   |1077   |7660  |1265   |
|OHIO         |JEFFERSON TOWNSHIP LOCAL SCH DIST  |10003   |1393   |4470  |4140   |
|TEXAS        |REGION XVIII EDUCATION SERVC CTR   |10003   |3257   |2871  |3875   |
+-------------+-----------------------------------+--------+-------+------+-------+
only showing top 20 rows

In [14]:
FedRatioDF = districtDF.select("STATE", "NAME", "FedRatio").orderBy("FedRatio", ascending=False).show(20, False)

+------------+---------------------------------------------+------------------+
|STATE       |NAME                                         |FedRatio          |
+------------+---------------------------------------------+------------------+
|CALIFORNIA  |CENTRAL CALIFORNIA MIGRANT HEAD START JPA    |0.9980877347305618|
|ILLINOIS    |MACKINAW VALLEY SPECIAL EDUCATION ASSOCIATION|0.9955706984667803|
|ILLINOIS    |FEDERATION OF DISTRICTS FOR SPECIAL EDUCATION|0.9824591573516767|
|ILLINOIS    |FEDERATION OF DISTRICTS FOR SPECIAL EDUCATION|0.9809504509068802|
|ILLINOIS    |FEDERATION OF DISTRICTS FOR SPECIAL EDUCATION|0.9741654571843251|
|ILLINOIS    |FEDERATION OF DISTRICTS FOR SPECIAL EDUCATION|0.9721898417985012|
|NORTH_DAKOTA|MINOT AFB 160 SCHOOL DISTRICT                |0.9719519175729823|
|CALIFORNIA  |CONTRA COSTA CO ROP                          |0.9707639328132687|
|ILLINOIS    |FED OF DISTRICTS FOR SPECIAL EDUC            |0.9680200658410409|
|ILLINOIS    |FED OF DISTRICTS FOR SPECIAL EDUC            |0.9647176162573246|
|ILLINOIS    |FEDERATION OF DISTRICTS FOR SPECIAL EDUCATION|0.9628151931056496|
|ILLINOIS    |FED OF DISTRICTS FOR SPECIAL EDUC            |0.960905748016257 |
|NORTH_DAKOTA|MINOT AFB 160 SCHOOL DISTRICT                |0.9594985535197685|
|ILLINOIS    |FED OF DISTRICTS FOR SPECIAL EDUC            |0.9592219020172911|
|ILLINOIS    |FED OF DISTRICTS FOR SPECIAL EDUC            |0.9571101791841403|
|NORTH_DAKOTA|MINOT AFB 160 SCHOOL DISTRICT                |0.956772703950744 |
|ILLINOIS    |FED OF DISTRICTS FOR SPECIAL EDUC            |0.953405017921147 |
|NORTH_DAKOTA|MINOT AFB 160 SCHOOL DISTRICT                |0.9518934081346424|
|CALIFORNIA  |CONTRA COSTA CO ROP                          |0.9506219991270187|
|CALIFORNIA  |CONTRA COSTA CO ROP                          |0.9478787576648886|
+------------+---------------------------------------------+------------------+
only showing top 20 rows

#### What states and districts have the highest student enrollment totals in 2016?

In [15]:
FedEnrollAllotDF = districtDF.filter(districtDF.YRDATA == 2016).select("STATE", "ENROLL").groupBy("STATE")\
                             .agg(F.sum("ENROLL").alias("TotalEnrollment")).sort(desc("TotalEnrollment")).show(10)

FedEnrollAllotDF = districtDF.filter(districtDF.YRDATA == 2016).select("STATE","NAME", "ENROLL").groupBy("NAME")\
                             .agg(F.sum("ENROLL").alias("TotalEnrollment")).sort(desc("TotalEnrollment")).show(10, False)

+--------------+---------------+
|         STATE|TotalEnrollment|
+--------------+---------------+
|    CALIFORNIA|        6217031|
|         TEXAS|        5053260|
|       FLORIDA|        2776933|
|      NEW_YORK|        2590921|
|      ILLINOIS|        2030717|
|       GEORGIA|        1727085|
|          OHIO|        1595024|
|  PENNSYLVANIA|        1572587|
|NORTH_CAROLINA|        1462036|
|    NEW_JERSEY|        1364266|
+--------------+---------------+
only showing top 10 rows

+----------------------------------------+---------------+
|NAME                                    |TotalEnrollment|
+----------------------------------------+---------------+
|NEW YORK CITY SCHOOL DISTRICT           |981667         |
|LOS ANGELES UNIF SCH DIST               |639337         |
|CITY OF CHICAGO SCHOOL DISTRICT 299     |387311         |
|MIAMI-DADE COUNTY PUBLIC SCHOOL DISTRICT|357579         |
|CLARK COUNTY SCHOOL DISTRICT            |325990         |
|BROWARD COUNTY SCHOOL DISTRICT          |269098         |
|HOUSTON IND SCH DIST 912                |215627         |
|HILLSBOROUGH COUNTY SCHOOL DISTRICT     |211923         |
|ORANGE COUNTY SCHOOL DISTRICT           |196951         |
|PALM BEACH COUNTY SCHOOL DISTRICT       |189322         |
+----------------------------------------+---------------+
only showing top 10 rows

#### Calculate State Expenditures and what percentage of total goes to instruction and services. Identify the states that spend most and least on instruction and services. Analyze who spends the most and the least per student. Calculate the average spenditure per student for the US.

In [16]:
stateExpDF = districtDF.select("STATE","ENROLL","TOTALEXP", "TCURINST", "TCURSSVC", "TCAPOUT", "PerStudentExp", "PercInstruction", "PercSpecServices").groupBy("STATE")\
                            .agg(
                            F.round(F.sum("TOTALEXP"),2).alias("AvgTotalExpense"),
                            F.round(F.sum("TCURINST"),2).alias("AvgInstrExpense"),
                            F.round(F.sum("TCURSSVC"),2).alias("AvgServicesExpense"),
                            F.round(F.sum("TCAPOUT"),2).alias("AvgCapitalExpense"),
                            F.round(F.sum("PerStudentExp"),2).alias("AvgPerStudent"),
                            F.round(F.mean("PercInstruction"),2).alias("PercInstruction"),
                            F.round(F.mean("PercSpecServices"),2).alias("PercSpecServ"))\
                            .sort(desc("AvgTotalExpense"))

stateExpDF.show(10)

stateExp2016DF = districtDF.filter(districtDF.YRDATA == 2016).select("STATE","ENROLL","TOTALEXP", "TCURINST", "TCURSSVC", "TCAPOUT", "PerStudentExp").groupBy("STATE")\
                            .agg(
                            F.round(F.sum("TOTALEXP"),2).alias("AvgTotalExpense"),
                            F.round(F.sum("TCURINST"),2).alias("AvgInstructionExpense"),
                            F.round(F.sum("TCURSSVC"),2).alias("AvgServicesExpense"),
                            F.round(F.sum("TCAPOUT"),2).alias("AvgCapitalExpense"),
                            F.round(F.sum("PerStudentExp"),2).alias("AveragePerStudentExpense")
                                ).sort(desc("AvgTotalExpense"))

stateExp2016DF.show(10)

+------------+---------------+---------------+------------------+-----------------+-------------+---------------+------------+
|       STATE|AvgTotalExpense|AvgInstrExpense|AvgServicesExpense|AvgCapitalExpense|AvgPerStudent|PercInstruction|PercSpecServ|
+------------+---------------+---------------+------------------+-----------------+-------------+---------------+------------+
|  CALIFORNIA|     1376348636|      681838483|         396297306|        151778171|    313419.88|           0.52|         0.3|
|    NEW_YORK|     1082069634|      663248625|         265722574|         90495880|    282617.47|           0.58|        0.29|
|       TEXAS|      940855055|      448147169|         255461324|        126933872|    263524.97|            0.5|        0.29|
|PENNSYLVANIA|      532204915|      266449424|         147620479|         42783505|    138007.76|           0.51|        0.29|
|    ILLINOIS|      525742358|      266227306|         164544173|         47859027|    207314.97|           0.49|        0.33|
|     FLORIDA|      520884489|      255486064|         152933245|         67125598|     13718.53|           0.48|        0.32|
|  NEW_JERSEY|      490018699|      258788772|         160440060|         29958340|    234359.21|           0.51|        0.32|
|        OHIO|      433840716|      216106199|         142222504|         42278819|    138517.07|            0.5|        0.35|
|    MICHIGAN|      415039047|      197551454|         132345399|         34903988|    139501.24|            0.5|        0.33|
|     GEORGIA|      327721199|      177664951|          90898902|         37962250|      36960.3|           0.52|        0.32|
+------------+---------------+---------------+------------------+-----------------+-------------+---------------+------------+
only showing top 10 rows

+------------+---------------+---------------------+------------------+-----------------+------------------------+
|       STATE|AvgTotalExpense|AvgInstructionExpense|AvgServicesExpense|AvgCapitalExpense|AveragePerStudentExpense|
+------------+---------------+---------------------+------------------+-----------------+------------------------+
|  CALIFORNIA|       85183945|             42558236|          25983967|          6783515|                22443.65|
|    NEW_YORK|       68278417|             43963627|          15882174|          4655768|                17594.35|
|       TEXAS|       59314006|             27861790|          15168706|          8332596|                15407.51|
|    ILLINOIS|       32994129|             17785859|          10416309|          2013541|                12865.48|
|PENNSYLVANIA|       30922614|             16715787|           8463820|          1793680|                 8774.56|
|  NEW_JERSEY|       29637079|             15823809|           9530343|          1414820|                20454.55|
|     FLORIDA|       27945116|             15212112|           8286140|          1983363|                  710.51|
|        OHIO|       23307000|             12229946|           7329866|          1854561|                 8412.05|
|     GEORGIA|       19158388|             10534931|           5554271|          1834767|                 2004.13|
|    MICHIGAN|       17999507|              9113284|           5898853|          1062838|                 6696.65|
+------------+---------------+---------------------+------------------+-----------------+------------------------+
only showing top 10 rows

In [22]:
districtExpDF = districtDF.select("NAME", "TOTALEXP", "TCURINST", "TCURSSVC", "TCAPOUT").groupBy("NAME")\
                .agg(
                F.round(F.avg("TOTALEXP"),2).alias("AvgTotalExpense"),
                            F.round(F.avg("TCURINST"),2).alias("AvgInstructionExpense"),
                            F.round(F.avg("TCURSSVC"),2).alias("AvgServicesExpense"),
                            F.round(F.avg("TCAPOUT"),2).alias("AvgCapitalExpense")
                ).orderBy("AvgTotalExpense", ascending=False)
    
districtExpDF.show(10, False)

+----------------------------------------+---------------+---------------------+------------------+-----------------+
|NAME                                    |AvgTotalExpense|AvgInstructionExpense|AvgServicesExpense|AvgCapitalExpense|
+----------------------------------------+---------------+---------------------+------------------+-----------------+
|NEW YORK CITY SCHOOL DISTRICT           |2.181980627E7  |1.469525153E7        |3843571.4         |2138993.67       |
|NEW YORK CITY SCH DIST                  |1.070267044E7  |6269854.0            |2129922.89        |1236391.0        |
|LOS ANGELES UNIF SCH DIST               |7273471.13     |3604382.5            |2079924.29        |912262.38        |
|CITY OF CHICAGO SCHOOL DISTRICT 299     |4953948.06     |2644138.94           |1370217.5         |468742.83        |
|MIAMI-DADE COUNTY PUBLIC SCHOOL DISTRICT|3818065.3      |2016163.4            |1028034.4         |395116.6         |
|MIAMI-DADE COUNTY PUBLIC SCHOOL DIST    |3220725.5      |1614925.5            |952442.67         |340457.5         |
|CITY OF CHICAGO SCH DIST 299            |2782933.83     |1530701.0            |817362.83         |229390.83        |
|MIAMI-DADE CO SCH DIST                  |2656802.0      |1303806.0            |820866.0          |245616.0         |
|MONTGOMERY COUNTY SCHOOLS               |2612193.67     |1458067.17           |762264.17         |249899.0         |
|BROWARD COUNTY SCHOOL DISTRICT          |2606681.38     |1417462.75           |759642.38         |169595.75        |
+----------------------------------------+---------------+---------------------+------------------+-----------------+
only showing top 10 rows

#### What states and districts spend the highest percentage of their budget in instruction and Support Services?

In [23]:
districtDF.select(F.mean("PercInstruction")).show(1, False)

districtDF.select("STATE", "NAME", "PercInstruction").groupBy("STATE")\
        .agg(F.mean("PercInstruction").alias("Percent Instruction Expense"))\
        .sort(desc("Percent Instruction Expense")).show(10, False)

districtExpDF.select("NAME", "AvgInstructionExpense").groupBy("NAME")\
    .agg(
        F.sum("AvgInstructionExpense").alias("Highest Average Instruction Expense")
        ).sort(desc("Highest Average Instruction Expense")).show(10, False)

districtDF.filter(districtDF.YRDATA == 2016).select("STATE", "NAME", "PercInstruction").groupBy("NAME", "STATE")\
        .agg(F.mean("PercInstruction").alias("Percent Instruction Expense"))\
        .sort(desc("Percent Instruction Expense")).show(10, False)

districtDF.filter(districtDF.YRDATA == 2016).filter(districtDF.PercInstruction > 0.1).select("STATE", "NAME", "PercInstruction").groupBy("NAME", "STATE")\
        .agg(F.mean("PercInstruction").alias("Percent Instruction Expense"))\
        .sort("Percent Instruction Expense").show(10, False)

+--------------------+
|avg(PercInstruction)|
+--------------------+
|0.5165409439394407  |
+--------------------+

+--------------+---------------------------+
|STATE         |Percent Instruction Expense|
+--------------+---------------------------+
|RHODE_ISLAND  |0.588857423421656          |
|NEBRASKA      |0.5879001009852706         |
|NEW_YORK      |0.5752419141377827         |
|TENNESSEE     |0.5708816553287256         |
|MASSACHUSETTS |0.5665089098331202         |
|NORTH_CAROLINA|0.5559114674732569         |
|HAWAII        |0.5540853294269285         |
|CONNECTICUT   |0.5537003664530593         |
|MONTANA       |0.5509676509562215         |
|IDAHO         |0.5473677163133401         |
+--------------+---------------------------+
only showing top 10 rows

+----------------------------------------+-----------------------------------+
|NAME                                    |Highest Average Instruction Expense|
+----------------------------------------+-----------------------------------+
|NEW YORK CITY SCHOOL DISTRICT           |1.469525153E7                      |
|NEW YORK CITY SCH DIST                  |6269854.0                          |
|LOS ANGELES UNIF SCH DIST               |3604382.5                          |
|CITY OF CHICAGO SCHOOL DISTRICT 299     |2644138.94                         |
|MIAMI-DADE COUNTY PUBLIC SCHOOL DISTRICT|2016163.4                          |
|MIAMI-DADE COUNTY PUBLIC SCHOOL DIST    |1614925.5                          |
|CITY OF CHICAGO SCH DIST 299            |1530701.0                          |
|MONTGOMERY COUNTY SCHOOLS               |1458067.17                         |
|BROWARD COUNTY SCHOOL DISTRICT          |1417462.75                         |
|MIAMI-DADE CO SCH DIST                  |1303806.0                          |
+----------------------------------------+-----------------------------------+
only showing top 10 rows

+----------------------------------+-----------+---------------------------+
|NAME                              |STATE      |Percent Instruction Expense|
+----------------------------------+-----------+---------------------------+
|COOPERATIVE EDUCATIONAL SERVICES  |CONNECTICUT|1.0                        |
|MIDWEST SPEC EDUCATION COOP 398   |MINNESOTA  |0.9954896907216495         |
|AREA SPECIAL EDUCATION COOPERATIVE|MINNESOTA  |0.9736646884272997         |
|MINNESOTA VALLEY EDUC DIST        |MINNESOTA  |0.9638822004074828         |
|WEST CENTRAL AREA LEARNING CENTER |MINNESOTA  |0.957204767063922          |
|LIBERTY ELEM SCH DISTRICT 10      |MONTANA    |0.9436619718309859         |
|BEMIDJI INTERDIST COUNCIL 998     |MINNESOTA  |0.9371597096188747         |
|LAKE AGASSIZ SPEC ED COOP 397     |MINNESOTA  |0.9343401181877873         |
|LEARN                             |CONNECTICUT|0.916208675065528          |
|SOUTHERN PLAINS EDUCATION COOP 915|MINNESOTA  |0.91533895657607           |
+----------------------------------+-----------+---------------------------+
only showing top 10 rows

+---------------------------------------------+----------+---------------------------+
|NAME                                         |STATE     |Percent Instruction Expense|
+---------------------------------------------+----------+---------------------------+
|AREA EDUCATION AGENCY 267                    |IOWA      |0.10022559519898373        |
|SOUTH CENTRAL OHIO EDUCATIONAL SERVICE CENTER|OHIO      |0.10072342793544797        |
|NORTH CENTRAL EDUCATIONAL SERVICE DISTRICT   |WASHINGTON|0.10073153363112579        |
|CHITTENDEN CENTRAL SUPV UNION                |VERMONT   |0.10186601407158152        |
|COLLEGE CORNER LOCAL SCHOOL DIST             |OHIO      |0.1019202363367799         |
|MENOMINEE INTERMEDIATE SCHOOL DIST           |MICHIGAN  |0.10623802427081115        |
|EMERY UNI SCH DIST                           |CALIFORNIA|0.1068751158206843         |
|WASHINGTON WEST SUPV UNION                   |VERMONT   |0.10689075630252101        |
|ROBBINSTON TOWN SCHOOLS                      |MAINE     |0.10714285714285714        |
|SAN DIEGO CO SPL SCHS OPER BY CO SUPT        |CALIFORNIA|0.10746645359590298        |
+---------------------------------------------+----------+---------------------------+
only showing top 10 rows

In [25]:
districtDF.select(F.mean("PercSpecServices")).show(1, False)

districtDF.select("STATE", "NAME", "PercSpecServices").groupBy("STATE")\
        .agg(F.mean("PercSpecServices").alias("Percent Support Expense"))\
        .sort(desc("Percent Support Expense")).show(10, False)

districtExpDF.select("NAME", "AvgServicesExpense").groupBy("NAME")\
    .agg(
        F.sum("AvgServicesExpense").alias("Highest Sup Services Expense")
        ).sort(desc("Highest Sup Services Expense")).show(10, False)

districtDF.filter(districtDF.YRDATA == 2016).select("STATE", "NAME", "PercSpecServices").groupBy("NAME", "STATE")\
        .agg(F.mean("PercSpecServices").alias("Percent Support Expense"))\
        .sort(desc("Percent Support Expense")).show(10, False)

districtDF.filter(districtDF.YRDATA == 2016).filter(districtDF.PercSpecServices > 0.1).select("STATE", "NAME", "PercSpecServices").groupBy("NAME", "STATE")\
        .agg(F.mean("PercSpecServices").alias("Percent Support Expense"))\
        .sort("Percent Support Expense").show(10, False)

+---------------------+
|avg(PercSpecServices)|
+---------------------+
|0.3058507599506189   |
+---------------------+

+----------+-----------------------+
|STATE     |Percent Support Expense|
+----------+-----------------------+
|ALASKA    |0.36049291309291925    |
|OREGON    |0.35702903889348203    |
|NEW_MEXICO|0.35209838405745675    |
|OHIO      |0.3465931562213563     |
|ARIZONA   |0.3376417216600479     |
|MONTANA   |0.33757141410293806    |
|NEVADA    |0.3363350162335723     |
|COLORADO  |0.3347015694711316     |
|ILLINOIS  |0.3297833661557004     |
|MICHIGAN  |0.32823647849115756    |
+----------+-----------------------+
only showing top 10 rows

+----------------------------------------+----------------------------+
|NAME                                    |Highest Sup Services Expense|
+----------------------------------------+----------------------------+
|NEW YORK CITY SCHOOL DISTRICT           |3843571.4                   |
|NEW YORK CITY SCH DIST                  |2129922.89                  |
|LOS ANGELES UNIF SCH DIST               |2079924.29                  |
|CITY OF CHICAGO SCHOOL DISTRICT 299     |1370217.5                   |
|MIAMI-DADE COUNTY PUBLIC SCHOOL DISTRICT|1028034.4                   |
|MIAMI-DADE COUNTY PUBLIC SCHOOL DIST    |952442.67                   |
|MIAMI-DADE CO SCH DIST                  |820866.0                    |
|CITY OF CHICAGO SCH DIST 299            |817362.83                   |
|CLARK COUNTY SCHOOL DISTRICT            |776728.8                    |
|MONTGOMERY COUNTY SCHOOLS               |762264.17                   |
+----------------------------------------+----------------------------+
only showing top 10 rows

+--------------------------------------------+-------------+-----------------------+
|NAME                                        |STATE        |Percent Support Expense|
+--------------------------------------------+-------------+-----------------------+
|WESTMANLAND SCHOOL DEPARTMENT               |MAINE        |1.0                    |
|REGION XI EDUCATION SERVICE CTR             |TEXAS        |0.9964450463413602     |
|NORTHCENTRAL LEARNING RESOURCE CENTER       |MONTANA      |0.9877675840978594     |
|REGIONAL EDUCATION SERVICE AGENCY 2         |WEST_VIRGINIA|0.9866666666666667     |
|LAMOILLE NORTH SUPERVISORY UNION            |VERMONT      |0.9824175824175824     |
|AREA EDUCATION AGENCY 1 KEYSTONE AEA        |IOWA         |0.9775862859238209     |
|AREA EDUCATION AGENCY 8 PRAIRIE LAKES       |IOWA         |0.9764970621327665     |
|NORTHWEST 928 MINNESOTA SERVICE COOPERATIVE |MINNESOTA    |0.970501144421147      |
|BMP TRI-COUNTY SPECIAL EDUCATION COOPERATIVE|ILLINOIS     |0.9636826278047652     |
|MIDDLE GEORGIA RESA                         |GEORGIA      |0.9606741573033708     |
+--------------------------------------------+-------------+-----------------------+
only showing top 10 rows

+------------------------------+----------+-----------------------+
|NAME                          |STATE     |Percent Support Expense|
+------------------------------+----------+-----------------------+
|WILLIAMS BAY SCHOOL DISTRICT  |WISCONSIN |0.10000400657077607    |
|HIGHLAND PARK IND SCH DIST 911|TEXAS     |0.10008562887145153    |
|CUERO IND SCH DISTRICT 901    |TEXAS     |0.1004190127013225     |
|SEARSBURG TOWN SCH DIST       |VERMONT   |0.10044642857142858    |
|SANDS IND SCH DIST            |TEXAS     |0.10051194539249146    |
|MOOSE LAKE SCH DIST 97        |MINNESOTA |0.10055581287633164    |
|RUSHFORD-PETERSON SCHOOL DIST |MINNESOTA |0.10064919900985475    |
|STERLING HIGH SCH DIST        |NEW_JERSEY|0.10101932964296591    |
|BROWN LOCAL SCH DIST          |OHIO      |0.10104948770066785    |
|MILES IND SCH DIST 902        |TEXAS     |0.10176125244618395    |
+------------------------------+----------+-----------------------+
only showing top 10 rows

### Join Revenue and Expense Data with State Reading, Math Scores 
To further the analysis, I will be joining the Revenue and Expense data with State Reading and Math Scores.

In [27]:
stateReadMath = stateDF.select("STATE", "AVG_MATH_4_SCORE", "AVG_MATH_8_SCORE", "AVG_READING_4_SCORE", "AVG_READING_8_SCORE")
stateRevExp = stateRevDF.join(stateExpDF, on="STATE", how="inner")
schoolsDF = stateReadMath.join(stateRevExp, on = "STATE", how = "inner")

print("Let's look at the structure of the joint data frames")
stateReadMath.printSchema()
stateRevExp.printSchema()
schoolsDF.printSchema()

Let's look at the structure of the joint data frames
root
 |-- STATE: string (nullable = true)
 |-- AVG_MATH_4_SCORE: double (nullable = true)
 |-- AVG_MATH_8_SCORE: double (nullable = true)
 |-- AVG_READING_4_SCORE: double (nullable = true)
 |-- AVG_READING_8_SCORE: double (nullable = true)

root
 |-- STATE: string (nullable = true)
 |-- TotalRevenue: long (nullable = true)
 |-- FederalRevenue: long (nullable = true)
 |-- StateRevenue: long (nullable = true)
 |-- LocalRevenue: long (nullable = true)
 |-- AverageTotalRevenue: double (nullable = true)
 |-- AvgTotalExpense: long (nullable = true)
 |-- AvgInstrExpense: long (nullable = true)
 |-- AvgServicesExpense: long (nullable = true)
 |-- AvgCapitalExpense: long (nullable = true)
 |-- AvgPerStudent: double (nullable = true)
 |-- PercInstruction: double (nullable = true)
 |-- PercSpecServ: double (nullable = true)

root
 |-- STATE: string (nullable = true)
 |-- AVG_MATH_4_SCORE: double (nullable = true)
 |-- AVG_MATH_8_SCORE: double (nullable = true)
 |-- AVG_READING_4_SCORE: double (nullable = true)
 |-- AVG_READING_8_SCORE: double (nullable = true)
 |-- TotalRevenue: long (nullable = true)
 |-- FederalRevenue: long (nullable = true)
 |-- StateRevenue: long (nullable = true)
 |-- LocalRevenue: long (nullable = true)
 |-- AverageTotalRevenue: double (nullable = true)
 |-- AvgTotalExpense: long (nullable = true)
 |-- AvgInstrExpense: long (nullable = true)
 |-- AvgServicesExpense: long (nullable = true)
 |-- AvgCapitalExpense: long (nullable = true)
 |-- AvgPerStudent: double (nullable = true)
 |-- PercInstruction: double (nullable = true)
 |-- PercSpecServ: double (nullable = true)

#### Analyze Change in Reading and Math Scores from grade 4 to 8. What states have the highest scores for reading and math. Compare reading and math scores to total expense and to percentage expense in instruction and support services.

In [28]:
schoolsDF = schoolsDF.withColumn("ChangeReading", schoolsDF.AVG_READING_8_SCORE - schoolsDF.AVG_READING_4_SCORE)\
         .withColumn("ChangeMath", schoolsDF.AVG_MATH_8_SCORE - schoolsDF.AVG_MATH_4_SCORE)

schoolsDF.select(
    F.round(F.mean("AVG_READING_4_SCORE"),0).alias("US Average Reading4"), 
    F.round(F.mean("AVG_READING_8_SCORE"),0).alias("US Average Reading8"), 
    F.round(F.mean("AVG_MATH_4_SCORE"),0).alias("US Average Math4"), 
    F.round(F.mean("AVG_MATH_8_SCORE"),0).alias("US Average Math8"),
    F.round(F.mean("ChangeReading"),0).alias("US Average Change in Reading"),
    F.round(F.mean("ChangeMath"),0).alias("US Average Change Math")
).show()

+-------------------+-------------------+----------------+----------------+----------------------------+----------------------+
|US Average Reading4|US Average Reading8|US Average Math4|US Average Math8|US Average Change in Reading|US Average Change Math|
+-------------------+-------------------+----------------+----------------+----------------------------+----------------------+
|              220.0|              264.0|           237.0|           280.0|                        44.0|                  43.0|
+-------------------+-------------------+----------------+----------------+----------------------------+----------------------+

In [29]:
schoolsDF.printSchema()

reading = schoolsDF.select("STATE", "AVG_READING_4_SCORE", "AVG_READING_8_SCORE", "AvgServicesExpense", "AvgPerStudent", "PercInstruction", "PercSpecServ")\
        .groupBy("STATE")\
        .agg(
        F.round(F.max("AVG_READING_4_SCORE"),0).alias("TopReading4"),
        F.round(F.max("AVG_READING_8_SCORE"),0).alias("TopReading8"),
        F.round(F.sum("AvgServicesExpense"),0).alias("SuppServicesExpense"),
        F.round(F.sum("AvgPerStudent"),0).alias("PerStudentExpense"),
        F.round(F.avg("PercInstruction"),4).alias("PercInstruction"),
        F.round(F.avg("PercSpecServ"),4).alias("PercSpecServices"))\
        .sort(desc("TopReading4")).sort(desc("TopReading8")).show(10, False)

root
 |-- STATE: string (nullable = true)
 |-- AVG_MATH_4_SCORE: double (nullable = true)
 |-- AVG_MATH_8_SCORE: double (nullable = true)
 |-- AVG_READING_4_SCORE: double (nullable = true)
 |-- AVG_READING_8_SCORE: double (nullable = true)
 |-- TotalRevenue: long (nullable = true)
 |-- FederalRevenue: long (nullable = true)
 |-- StateRevenue: long (nullable = true)
 |-- LocalRevenue: long (nullable = true)
 |-- AverageTotalRevenue: double (nullable = true)
 |-- AvgTotalExpense: long (nullable = true)
 |-- AvgInstrExpense: long (nullable = true)
 |-- AvgServicesExpense: long (nullable = true)
 |-- AvgCapitalExpense: long (nullable = true)
 |-- AvgPerStudent: double (nullable = true)
 |-- PercInstruction: double (nullable = true)
 |-- PercSpecServ: double (nullable = true)
 |-- ChangeReading: double (nullable = true)
 |-- ChangeMath: double (nullable = true)

+--------------+-----------+-----------+-------------------+-----------------+---------------+----------------+
|STATE         |TopReading4|TopReading8|SuppServicesExpense|PerStudentExpense|PercInstruction|PercSpecServices|
+--------------+-----------+-----------+-------------------+-----------------+---------------+----------------+
|FLORIDA       |228.0      |280.0      |1529332450         |137185.0         |0.48           |0.32            |
|MICHIGAN      |220.0      |278.0      |1058763192         |1116010.0        |0.5            |0.33            |
|MISSISSIPPI   |215.0      |277.0      |202207432          |207457.0         |0.53           |0.3             |
|HAWAII        |216.0      |277.0      |136008830          |2368.0           |0.55           |0.31            |
|GEORGIA       |222.0      |277.0      |818090118          |332643.0         |0.52           |0.32            |
|NORTH_CAROLINA|226.0      |276.0      |708976960          |227308.0         |0.56           |0.29            |
|NORTH_DAKOTA  |226.0      |275.0      |58940937           |495406.0         |0.47           |0.29            |
|NEW_JERSEY    |233.0      |275.0      |1283520480         |1874874.0        |0.51           |0.32            |
|NEW_MEXICO    |212.0      |275.0      |212116770          |247818.0         |0.46           |0.35            |
|MISSOURI      |224.0      |275.0      |514646811          |975587.0         |0.53           |0.29            |
+--------------+-----------+-----------+-------------------+-----------------+---------------+----------------+
only showing top 10 rows

In [30]:
math = schoolsDF.select("STATE", "AVG_MATH_4_SCORE", "AVG_MATH_8_SCORE", "AvgServicesExpense", "AvgPerStudent", "PercInstruction", "PercSpecServ").groupBy("STATE")\
    .agg(
        F.round(F.max("AVG_MATH_4_SCORE"),0).alias("TopMath4"),
        F.round(F.max("AVG_MATH_8_SCORE"),0).alias("TopMath8"),
        F.round(F.sum("AvgServicesExpense"),0).alias("SuppServicesExpense"),
        F.round(F.sum("AvgPerStudent"),0).alias("PerStudentExpense"),
        F.round(F.avg("PercInstruction"),4).alias("PercInstruction"),
        F.round(F.avg("PercSpecServ"),4).alias("PercSpecServices")
        ).sort(desc("TopMath4")).sort(desc("TopMath8")).show(10, False)

+-------------+--------+--------+-------------------+-----------------+---------------+----------------+
|STATE        |TopMath4|TopMath8|SuppServicesExpense|PerStudentExpense|PercInstruction|PercSpecServices|
+-------------+--------+--------+-------------------+-----------------+---------------+----------------+
|MASSACHUSETTS|253.0   |301.0   |838955860          |1055150.0        |0.57           |0.3             |
|NEW_HAMPSHIRE|253.0   |296.0   |119753208          |422466.0         |0.49           |0.28            |
|NEW_JERSEY   |249.0   |296.0   |1283520480         |1874874.0        |0.51           |0.32            |
|VERMONT      |248.0   |295.0   |75361680           |689418.0         |0.42           |0.29            |
|MINNESOTA    |253.0   |295.0   |468862362          |812058.0         |0.52           |0.25            |
|NORTH_DAKOTA |246.0   |293.0   |58940937           |495406.0         |0.47           |0.29            |
|MONTANA      |244.0   |293.0   |100346960          |1179357.0        |0.55           |0.34            |
|COLORADO     |247.0   |292.0   |517253750          |440467.0         |0.47           |0.33            |
|SOUTH_DAKOTA |242.0   |291.0   |57921856           |279528.0         |0.52           |0.31            |
|PENNSYLVANIA |246.0   |290.0   |1180963832         |1104062.0        |0.51           |0.29            |
+-------------+--------+--------+-------------------+-----------------+---------------+----------------+
only showing top 10 rows

#### Dig deep: look at the state with best reading and math scores and see revenue and expense distribution by district

In [31]:
MassachusetsDF = districtDF.filter(districtDF.STATE == "MASSACHUSETTS")\
            .select("NAME", "TOTALEXP", "TCURINST", "TCURSSVC", "TCAPOUT", "PercInstruction", "PercSpecServices")\
            .groupBy("NAME")\
            .agg(
                F.sum("TOTALEXP").alias("AvgTotalExp"),
                F.sum("TCURINST").alias("AvgInstrExpense"),
                F.sum("TCURSSVC").alias("AvgSupServExpense"),
                F.sum("TCAPOUT").alias("AvgCapOutExpense"),
                F.round(F.avg("PercInstruction"),2).alias("PercInstr"),
                F.round(F.avg("PercSpecServices"),2).alias("PercSpecServ")
                ).orderBy("AvgTotalExp", ascending=False).show(10)

Massachusets2016DF = districtDF.filter(districtDF.STATE == "MASSACHUSETTS").filter(districtDF.YRDATA == 2016)\
            .select("NAME", "TOTALEXP", "TCURINST", "TCURSSVC", "TCAPOUT", "PercInstruction", "PercSpecServices")\
            .groupBy("NAME")\
            .agg(
                F.sum("TOTALEXP").alias("AvgTotalExp"),
                F.sum("TCURINST").alias("AvgInstrExpense"),
                F.sum("TCURSSVC").alias("AvgSupServExpense"),
                F.sum("TCAPOUT").alias("AvgCapOutExpense"),
                F.round(F.avg("PercInstruction"),2).alias("PercInstr"),
                F.round(F.avg("PercSpecServices"),2).alias("PercSpecServ"))\
            .orderBy("AvgTotalExp", ascending=False).show(10)

+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
|                NAME|AvgTotalExp|AvgInstrExpense|AvgSupServExpense|AvgCapOutExpense|PercInstr|PercSpecServ|
+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
|     BOSTON CITY SCH|   24186218|       13958846|          7844158|          946697|     0.58|        0.32|
|SPRINGFIELD CITY SCH|    8762936|        5027023|          2466008|          528090|     0.58|        0.28|
|WORCESTER PUBLIC ...|    7748038|        4827879|          1912710|          350699|     0.62|        0.25|
|     NEWTON CITY SCH|    4490033|        2575348|          1252801|          479138|     0.59|        0.28|
|   BROCKTON CITY SCH|    4486306|        2638397|          1516341|           96194|     0.59|        0.34|
|     LOWELL CITY SCH|    4430284|        2758023|          1165594|          154056|     0.61|        0.26|
|       LYNN CITY SCH|    4107866|        2483214|          1177260|          146700|     0.61|        0.29|
|NEW BEDFORD CITY SCH|    3819583|        2234007|          1234055|           98868|     0.59|        0.32|
|CAMBRIDGE CITY SC...|    3813403|        2122453|          1267129|          244882|     0.57|        0.33|
|FALL RIVER CITY P...|    3431130|        1976259|           969195|          258141|     0.59|        0.29|
+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
only showing top 10 rows

+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
|                NAME|AvgTotalExp|AvgInstrExpense|AvgSupServExpense|AvgCapOutExpense|PercInstr|PercSpecServ|
+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
|     BOSTON CITY SCH|    1432818|         876665|           434800|           47297|     0.61|         0.3|
|SPRINGFIELD CITY SCH|     479825|         292645|           140878|           10245|     0.61|        0.29|
|WORCESTER PUBLIC ...|     433145|         275086|           118731|             773|     0.64|        0.27|
|     NEWTON CITY SCH|     310396|         168300|            82872|           46957|     0.54|        0.27|
|       LYNN CITY SCH|     274903|         153332|            72260|           33288|     0.56|        0.26|
|   BROCKTON CITY SCH|     266999|         162718|            84452|             878|     0.61|        0.32|
|LAWRENCE CITY SCH...|     244228|         153706|            74150|             132|     0.63|         0.3|
|     LOWELL CITY SCH|     240301|         161952|            59659|             424|     0.67|        0.25|
|CAMBRIDGE CITY SC...|     232224|         125435|            76674|           23237|     0.54|        0.33|
|NEW BEDFORD CITY SCH|     197351|         118098|            58330|            7522|      0.6|         0.3|
+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
only showing top 10 rows

In [32]:
FloridaDF = districtDF.filter(districtDF.STATE == "FLORIDA")\
            .select("NAME", "TOTALEXP", "TCURINST", "TCURSSVC", "TCAPOUT", "PercInstruction", "PercSpecServices")\
            .groupBy("NAME")\
            .agg(
                F.sum("TOTALEXP").alias("AvgTotalExp"),
                F.sum("TCURINST").alias("AvgInstrExpense"),
                F.sum("TCURSSVC").alias("AvgSupServExpense"),
                F.sum("TCAPOUT").alias("AvgCapOutExpense"),
                F.round(F.avg("PercInstruction"),2).alias("PercInstr"),
                F.round(F.avg("PercSpecServices"),2).alias("PercSpecServ")
                ).orderBy("AvgTotalExp", ascending=False).show(10)

Florida2016DF = districtDF.filter(districtDF.STATE == "FLORIDA").filter(districtDF.YRDATA == 2016)\
            .select("NAME", "TOTALEXP", "TCURINST", "TCURSSVC", "TCAPOUT", "PercInstruction", "PercSpecServices")\
            .groupBy("NAME")\
            .agg(
                F.sum("TOTALEXP").alias("AvgTotalExp"),
                F.sum("TCURINST").alias("AvgInstrExpense"),
                F.sum("TCURSSVC").alias("AvgSupServExpense"),
                F.sum("TCAPOUT").alias("AvgCapOutExpense"),
                F.round(F.avg("PercInstruction"),2).alias("PercInstr"),
                F.round(F.avg("PercSpecServices"),2).alias("PercSpecServ"))\
            .orderBy("AvgTotalExp", ascending=False).show(10)

+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
|                NAME|AvgTotalExp|AvgInstrExpense|AvgSupServExpense|AvgCapOutExpense|PercInstr|PercSpecServ|
+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
|MIAMI-DADE COUNTY...|   38180653|       20161634|         10280344|         3951166|     0.53|        0.27|
|BROWARD CO SCHOOL...|   30848426|       13936836|          9312618|         4880806|     0.45|        0.31|
|PALM BEACH CO SCH...|   22406774|       10041774|          5543082|         4589867|     0.46|        0.25|
|HILLSBOROUGH CO S...|   21125356|        9604272|          5836099|         3200397|     0.45|        0.28|
|BROWARD COUNTY SC...|   20853451|       11339702|          6077139|         1356766|     0.55|        0.29|
|MIAMI-DADE COUNTY...|   19324353|        9689553|          5714656|         2042745|      0.5|         0.3|
| ORANGE CO SCH BOARD|   18822835|        8122409|          5635462|         3401764|     0.43|        0.31|
|    DADE CO SCH DIST|   16462815|        7832779|          4829141|         2021803|     0.48|        0.29|
|HILLSBOROUGH COUN...|   16186577|        8450423|          4634969|         1047433|     0.52|        0.29|
|PALM BEACH COUNTY...|   15457556|        8366979|          4400292|         1052174|     0.54|        0.29|
+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
only showing top 10 rows

+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
|                NAME|AvgTotalExp|AvgInstrExpense|AvgSupServExpense|AvgCapOutExpense|PercInstr|PercSpecServ|
+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
|MIAMI-DADE COUNTY...|    3654722|        2055410|           979953|          234755|     0.56|        0.27|
|BROWARD COUNTY SC...|    2652891|        1490910|           767049|          131182|     0.56|        0.29|
|HILLSBOROUGH COUN...|    2172984|        1171978|           621442|          115468|     0.54|        0.29|
|ORANGE COUNTY SCH...|    2123738|        1030104|           645791|          265483|     0.49|         0.3|
|PALM BEACH COUNTY...|    1968247|        1153758|           568295|           40960|     0.59|        0.29|
|DUVAL COUNTY SCHO...|    1263152|         707133|           384980|           96244|     0.56|         0.3|
|PINELLAS COUNTY S...|    1084951|         592313|           315718|          101452|     0.55|        0.29|
|POLK COUNTY SCHOO...|     948544|         566201|           265327|           43360|      0.6|        0.28|
|LEE COUNTY SCHOOL...|     891899|         492504|           279284|           50501|     0.55|        0.31|
|PASCO COUNTY SCHO...|     776495|         367333|           212636|          137564|     0.47|        0.27|
+--------------------+-----------+---------------+-----------------+----------------+---------+------------+
only showing top 10 rows